# # Use this if you do not have nix installed
# if [[ ! -d "venv" ]]; then
#    echo -e "\e[36mCreating a python virtual environment ...\e[0m"
#    python3 -m venv venv
# fi
#
# source venv/bin/activate
# unset PS1

use_nix 
