[Unit]
Description=nesabot
Wants=network.target
After=syslog.target network-online.target

[Service]
User=web
Group=web
Type=simple
ExecStart=docker run nesabot

[Install]
WantedBy=multi-user.target
