[Unit]
Description=nesabot
Wants=network.target
After=syslog.target network-online.target

[Service]
User=web
Group=web
Type=simple
Restart=always
RestartSec=5s
ExecStart=/var/www/nesabot/start.sh

[Install]
WantedBy=multi-user.target
