[Unit]
Description=nesabot
Wants=network.target
After=syslog.target network-online.target

[Service]
User=www-data
Group=www-data
Type=simple
Restart=always
RestartSec=5s
ExecStart=/var/www/nesabot/venv/bin/python3 /var/www/nesabot/src/main.py 10

[Install]
WantedBy=multi-user.target
